.checkoutContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.checkoutContainer p {
  font-weight: 600;
  color: var(--dc);
}

.checkoutContainer h2 {
  font-weight: 700;
  color: var(--yc);
  align-self: start;
}

.checkoutContainer .info {
  padding: 20vh 0 10vh 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.formInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 100%;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--dc);
  gap: 20px;
}

.formFlex {
  display: flex;
  width: 100%;
  gap: 15px;
}

.formInfo form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.field {
  position: relative;
  width: 100%;
}

.formInfo input:focus {
  border: 1px solid var(--gc);
}

.formInfo .mainBtn,
.formInfo .hoverBtn {
  width: 300px;
}

.formInfo .hoverBtn {
  background-color: var(--yc);
  border: none;
}

.checkoutContainer .bagInfo {
  padding: 20vh 0 10vh 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: sticky;
  top: 0;
}

.infoSwiper {
  color: var(--dc);
  width: 70%;
  height: 250px;
  scroll-behavior: smooth;
}
.swiper-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.infoSwiperSlide {
  width: 95% !important;
  scroll-behavior: smooth;
}

.bagProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  border: 1px solid var(--dc);
  border-radius: 5px;
  scroll-behavior: smooth;
}

.bagImage {
  position: relative;
}

.bagImage .image {
  border-radius: 5px;
  border: 1px solid #1f1f1f1e;
}

.bagProduct span {
  position: absolute;
  top: -3px;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: var(--gc);
  color: var(--wc);
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 10px;
}

.bagTotal {
  width: 70%;
  color: var(--dc);
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-top: 1px solid var(--gc);
  padding-top: 15px;
}

.bagTotal .totalBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
}

@media (max-width: 768px) {
  .checkoutContainer {
    flex-direction: column-reverse;
  }
  .infoSwiper,
  .bagTotal,
  .formInfo,
  .formInfo form {
    width: 95vw !important;
  }
  .checkoutContainer .bagInfo {
    position: static;
  }

  .checkoutContainer .bagInfo p {
    font-size: 0.8rem;
  }

  .deliveryText {
    font-size: 0.6rem;
  }

  .bagProduct {
    font-size: 12px;
  }

  .formInfo {
    margin-top: -120px;
    padding-top: 20px;
    border-top: 1px solid var(--dc);
  }
}

@media (max-width: 425px) {
  .formFlex {
    flex-direction: column;
  }

  .formInfo form,
  .formFlex {
    gap: 35px !important;
  }

  .formInfo .field input {
    font-size: 14px;
  }
}
