.hoverFooter {
  height: 80vh;
  width: 100%;
  position: absolute;
  z-index: -10;
}
.footerMain {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background-color: var(--dc);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.footerBox {
  width: 90%;
  height: 70vh;
  border-bottom: 1px solid var(--wc);
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.footerBox h3 {
  font-weight: 300;
  font-size: larger;
  color: var(--gc);
}

.socialBox {
  color: var(--wc);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  width: 100%;
}

.socialIcons {
  display: flex;
  justify-content: space-between;
  width: 30vh;
  align-items: center;
}
.socialIcons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialIcons .icon svg {
  fill: var(--wc);
  cursor: pointer;
  height: 25px;
  transition: all 0.45s;
}
.socialIcons .icon svg:hover {
  fill: var(--yc);
}
.footerMain p {
  width: 70%;
  color: var(--wc);
  text-align: center;
  display: flex;
  padding-top: 1vh;
}
.Sitemap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: brown; */
  text-align: center;
}
.Sitemap p {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.address {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
