.hoverFooter {
  height: 70vh;
  width: 100%;
  position: absolute;
  z-index: -10;
}

.footerMain {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-color: var(--dc);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.footerBox {
  width: 75%;
  height: 70vh;
  border-bottom: 1px solid var(--wc);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerBox h3 {
  font-weight: 300;
  font-size: larger;
  color: var(--gc);
}

.footerInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-size: 14px;
}

.footerText {
  font-size: 0.8rem;
  width: 75%;
  color: var(--wc);
  text-align: center;
  padding: 1vh;
}

.Sitemap {
  display: flex;
  justify-content: space-around;
}

.sitemapLinks {
  width: 100%;
  border-right: 1px solid var(--wc);
  padding-right: 40px;
}

.sitemapLinks p {
  padding-top: 5px;
}

.socialBox {
  width: 100%;
  color: var(--wc);
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding-left: 40px;
}

.socialIcons {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.socialIcons .icon {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 10px;
}

.socialIcons .icon svg {
  fill: var(--wc);
  cursor: pointer;
  height: 30px;
  transition: all 0.45s;
}

.socialIcons .icon:hover svg {
  fill: var(--yc);
  scale: 0.9;
}

@media (max-width: 768px) {
  .footerBox {
    width: 95%;
  }

  .footerBox,
  .footerBox h6,
  .footerText,
  .footerBox strong {
    font-size: 11px !important;
  }

  .socialIcons .icon svg {
    height: 20px !important;
  }
}

@media (max-width: 425px) {
  .hoverFooter,
  .footerMain {
    height: 75vh;
  }

  .footerBox {
    flex-direction: column-reverse;
    height: 100%;
    justify-content: end;
  }

  .Sitemap {
    width: 95%;
  }

  .footerInfo {
    gap: 10px;
    padding-bottom: 10px;
  }

  .footerLogo {
    width: 100px;
  }

  .socialIcons .icon svg {
    height: 15px !important;
  }

  .footerText {
    width: 95% !important;
  }
}
