.hero {
  position: sticky;
  top: -20vh;
  background-color: var(--wc);
  border-radius: 45px;
  padding-bottom: 5vh;
  width: 100%;
}
.heroImage {
  background-color: var(--yc);
  height: 100vh;
  width: 100%;
}
.homeCover {
  height: 100vh;
  width: 70%;
}
.heroContent {
  display: flex;
  width: 100%;
  margin-top: -70vh;
  position: relative;
}
.heroText {
  width: 65%;
  margin-top: 70vh;
  height: 100%;
  padding-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dc);
  font-size: 16px;
  text-transform: capitalize;
}
.heroContent h1 {
  width: 50%;
  text-align: center;
  font-weight: 500;
  color: var(--gc);
  border-bottom: var(--yc) 1px solid;
}
.coverOver {
  width: 35%;
  right: 160px;
  bottom: 10px;
  position: absolute;
  height: 100vh;
  border-radius: 350px 350px 0 0;
}
.heroEmpty {
  background-color: var(--yc);
  width: 35%;
}
@media (max-width: 1024px) {
  .hero {
    top: -50vh;
  }
  .heroImage {
    height: 100%;
    width: 100%;
    padding-top: 15vh;
    background-color: var(--wc);
  }
  .homeCover {
    height: 100%;
    width: 100%;
  }
  .heroContent {
    justify-content: center;
  }
  .heroEmpty {
    display: none;
  }
  .coverOver {
    display: none;
    position: static;
  }
  .heroText {
    width: 100%;
  }
  .heroContent h1 {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .hero {
    top: -25vh;
  }
}
@media (max-width: 545px) {
  .hero {
    top: 0vh;
  }
}
@media (max-width: 425px) {
  .heroText {
    height: 50vh;
  }
}
