.productContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  padding: 20vh 0 10vh 0;
  background-color: var(--wc);
  border-radius: 0 0 45px 45px;
}

.subtitle {
  display: flex;
  flex-direction: row;
  color: var(--dc);
  width: 90%;
  gap: 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.subtitleLink {
  text-decoration: none;
  color: var(--gc);
  font-weight: 500;
  cursor: pointer;
}

.subtitle h4 {
  font-weight: 400;
  color: var(--yc);
}

.boxLink {
  color: var(--dc);
  width: 30%;
  gap: 0;
  padding: 0;
  margin: 0;
}

.productBox {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.productCover {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-around;
}

.mainImage {
  transition: all 0.5s ease;
  overflow: hidden;
  width: 550px;
  height: 550px;
}

.thumbnail {
  border-radius: 10px;
  cursor: zoom-in;
  transition: all 0.4s ease;
}

.sideImages {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 25px;
}

.sideImage,
.selectedImage {
  border-radius: 5px;
  border: 1px solid var(--gc);
  cursor: pointer;
}

.selectedImage {
  border: 1px solid var(--yc);
}

.swiper-zoom-container {
  cursor: zoom-in;
}

.sideImagesSwiper .swiper-button-next,
.sideImagesSwiper .swiper-button-prev {
  color: var(--dc);
  width: 30px;
  height: 30px;
  rotate: 90deg;
  bottom: -10;
  top: auto;
}

.sideImagesSwiper .swiper-button-next::after,
.sideImagesSwiper .swiper-button-prev::after {
  font-size: 18px;
}

.overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999999999999999 !important;
  cursor: zoom-out;
  opacity: 0;
  animation: fadeIn 0.4s forwards;
  overscroll-behavior: contain;
  touch-action: none;
}

.zoomedImage {
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  object-fit: contain;
  z-index: 99999999999999999999 !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.productInfo {
  width: 70%;
  color: var(--dc);
  padding-left: 10vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productInfo h1 {
  font-size: 30px;
}

.productInfo h3 {
  font-size: 20px;
  font-weight: bold;
}

.brand {
  border-bottom: 1px solid var(--gc);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: var(--gc);
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 10px;
}

.brandBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.brandLink {
  text-transform: uppercase;
  color: var(--dc);
  padding-left: 5px;
}

.sizes,
.colors {
  color: var(--dc);
}

.radioCard {
  background-color: var(--wc);
  font-size: 16px;
  max-width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
}

.attentionBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wishlistBox {
  display: flex;
  flex-direction: row;
}

.wishlistBox .wishlistCard {
  position: relative;
  top: 0;
  right: 0;
}

.wishlistBox .wishlistCard svg {
  top: 0;
  right: 0;
}

.wishlistBox h2 {
  text-transform: uppercase;
  color: var(--dc);
  padding-left: 5px;
  letter-spacing: -0.05rem;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.addCard {
  width: 180px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dc);
  text-overflow: ellipsis;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  border: 1px solid var(--dc);
}

.addCard:disabled {
  cursor: not-allowed;
}

.addCard .buySvg,
.addCard .btnText {
  transition: all 0.45s ease-in-out;
  position: absolute;
  height: 100%;
  width: 100%;
}

.addCard .btnText {
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--wc);
  border-radius: 15px;
}

.addCard .buySvg {
  border-radius: 15px;
  left: -100%;
  background-color: var(--dc);
  display: flex;
  justify-content: center;
  align-items: center;
}

.addCard:not(:disabled):hover {
  background-color: var(--dc);
}

.addCard:not(:disabled):hover .buySvg {
  color: var(--yc);
  left: 0;
}

.addCard:not(:disabled):hover .btnText {
  left: 100%;
}

.addedCard {
  color: var(--yc);
  background-color: var(--dc);
  cursor: auto;
  display: flex;
  justify-content: center;
}

.addedCard .btnText {
  position: static;
  background-color: var(--dc);
}

.vat {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bolder;
}

#hidden {
  visibility: hidden;
}

.description {
  width: 65%;
  border-top: 1px solid var(--dc);
  color: var(--dc);
}

.description h2 {
  color: var(--bc);
  margin: 5vh 0;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
}

.related {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}

.related h2 {
  color: var(--dc);
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
}

.productSwiper {
  width: 75%;
  height: 100%;
  scroll-behavior: smooth;
}

.productSwiperSlide {
  display: flex;
  justify-content: center;
}

.inquiry {
  color: var(--dc);
  width: 70%;
  font-weight: 400;
  text-transform: uppercase;
}

.inquiryText {
  width: 60%;
}

.inquiry h2 {
  color: var(--yc);
  font-size: 20px;
}

.sendMessage {
  color: var(--dc);
  max-width: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.sendMessageText {
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
  font-size: 16px;
  width: 250px;
  position: absolute;
  top: -150px;
  right: 0;
  color: var(--gc);
  transition: all 0.3s ease-in-out;
}

.sendMessageText:hover {
  color: var(--yc);
}

.sendMessageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
}

.sendMessageContent form {
  padding: 7vh 0;
  border-radius: 25px;
  border: 1px solid var(--gc);
  width: 85%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}

.sendMessageContent form .field {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
}

.sendMessageContent form .formFlex {
  display: flex;
  align-items: center;
  width: 70%;
  gap: 25px;
}

.sendMessageContent form .field input {
  background-color: var(--wc);
  border: 1px solid var(--dc);
  color: var(--dc);
}

.sendMessageContent form .field input:focus {
  border: 1px solid var(--gc);
}

.myPhoneInput {
  position: relative;
}

.sendMessageContent .homeBtn {
  width: 250px;
}

.toast {
  height: 70px;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.toastInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.toastInfo .mainBtn,
.toastInfo .hoverBtn {
  font-size: 14px;
  height: 30px;
  border-radius: 10px;
  width: 100px;
}

.toastInfo .mainBtn {
  color: var(--wc);
  border-color: var(--wc);
}

.toastInfo .hoverBtn {
  background-color: var(--wc);
  color: var(--dc);
}

.toastImg {
  position: absolute;
  left: 0;
  border-radius: 5px 0 0 5px;
}

@media (max-width: 768px) {
  .productBox {
    flex-direction: column;
    justify-content: center;
  }

  .subtitle {
    font-size: 12px !important;
    min-width: 80% !important;
    flex-wrap: wrap;
  }

  .productCover {
    flex-direction: column-reverse;
    gap: 10px;
    height: 100% !important;
    width: 100% !important;
    align-items: center;
    margin-top: -40px;
  }

  .mainImage {
    max-width: 100% !important;
    height: 100% !important;
  }

  .sideImages {
    width: 100%;
    overflow-y: hidden;
    flex-direction: row !important;
  }

  .sideImagesSwiperBox {
    display: flex;
    justify-content: center;
  }

  .sideImagesSwiper .swiper-button-prev,
  .sideImagesSwiper .swiper-button-next {
    rotate: 0deg !important;
    bottom: 0 !important;
    top: 60% !important;
    right: -10 !important;
  }

  .sideImagesSwiper .swiper-button-prev {
    left: -10 !important;
  }

  .productInfo {
    width: 100%;
    padding: 15px;
  }

  .productInfo h1 {
    font-size: 24px !important;
  }

  .sendMessageText {
    position: relative !important;
    top: 0 !important;
    justify-self: center;
  }

  .sendMessage {
    max-width: 100% !important;
    align-items: center;
  }

  .sendMessageContent form {
    align-items: center !important;
    font-size: 0.8rem;
    width: 70vw !important;
  }

  .sendMessageContent form .field {
    width: 95% !important;
  }
  .sendMessageContent form .formFlex {
    flex-direction: column;
    width: 100% !important;
  }
  .sendMessageContent form .field input {
    font-size: 0.8rem;
  }
  .sendMessageContent .homeBtn {
    width: 250px;
  }
}
@media (max-width: 425px) {
  .attentionBox {
    flex-direction: column;
    gap: 10px;
  }

  .description,
  .inquiry {
    width: 85% !important;
  }

  .description h2 {
    font-size: 2rem !important;
  }

  .related h2 {
    font-size: 1.8rem !important;
  }

  .inquiryText {
    width: 100% !important;
  }

  .sendMessageContent form {
    width: 98vw !important;
  }
}
