.productsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--wc);
  border-radius: 0 0 45px 45px;
  padding-top: 5vh;
}

.productsContainer .filter {
  width: 18vw;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--dc);
}

.filterBox {
  padding-top: 3vh;
  width: 70%;
}

.filterText {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bolder;
  color: var(--gc);
}

.filterRadioCard {
  text-transform: capitalize;
  padding: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.productsContainer .productsCards {
  width: 82vw;
  height: 100%;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

.tabListContainer {
  position: relative;
}

.tabList {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
  height: auto;
  flex-wrap: wrap;
  gap: 1vh 5vh;
  width: 100%;
  margin-bottom: 2vh;
  transition: all 0.3s ease;
}

.tabText {
  text-transform: capitalize;
  color: var(--dc);
  font-size: 1.025rem;
  font-weight: 400;
  cursor: pointer;
}

.disabledTab {
  font-weight: 600;
  color: var(--yc) !important;
  pointer-events: none;
}

.productsBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  height: 100%;
  gap: 50px 10px;
  max-width: 1200px;
  min-height: 60vh;
  transition: all 0.3s ease;
  border-top: 1px dotted #5756561e;
}

.productsSwiperSlide {
  text-align: center;
}

.filterBtn {
  display: none;
  justify-content: space-evenly;
  width: 130px;
  font-size: 12px;
  border: 1px solid var(--dc);
  color: var(--dc);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 9;
}

.filterDialog {
  background-color: var(--wc);
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
  position: relative;
  align-self: center;
  padding: 25px;
}

.filterContent .filterBox {
  justify-self: center;
}

.filterDialog svg {
  color: var(--dc);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--dc);
}

.emptyMessage {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--gc);
  text-transform: uppercase;
}

.emptyMessage svg {
  width: 70%;
  height: 70%;
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10vh;
}

.arrowBtn {
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.5s ease;
  color: var(--dc);
}

.arrowBtn:hover {
  transform: scale(1.2);
}

.pageNumbers {
  display: flex;
  align-items: center;
  gap: 30px;
}

.baseNumber {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--yc);
}

.variableNumber {
  font-size: 1rem;
  color: var(--gc);
}

.separator {
  font-size: 1.2rem;
  color: var(--gc);
}

.arrowBtn:disabled {
  visibility: hidden;
}

@media (max-width: 767px) {
  .productsContainer {
    flex-direction: column;
    align-items: center;
  }

  .productsContainer .filter {
    display: none !important;
  }
  .filterRadioCard {
    color: var(--gc);
  }
  .productsContainer .productsCards {
    width: 95vw;
  }
  .tabList {
    padding-top: 5vh;
  }
  .tabText {
    font-size: 0.7rem;
    font-weight: 600;
  }

  .productsBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
  }

  .filterBtn {
    display: flex !important;
    margin-top: 10vh !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .productsContainer .productsCards {
    width: 95vw;
  }

  .filterRadioCard {
    color: var(--dc);
  }

  .filterBtn {
    display: flex !important;
    margin-top: 10vh !important;
  }

  .productsContainer {
    flex-direction: column;
    align-items: center;
  }

  .filter {
    display: none !important;
  }

  .tabText {
    font-size: 0.85rem;
  }

  .productsBox {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
