.productContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  padding: 20vh 0;
  background-color: var(--wc);
  border-radius: 0 0 45px 45px;
}

.subtitle {
  display: flex;
  flex-direction: row;
  color: var(--dc);
  width: 90%;
  gap: 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.subtitleLink {
  text-decoration: none;
  color: var(--gc);
  font-weight: 500;
  cursor: pointer;
}
.subtitle h4 {
  font-weight: 400;
  color: var(--yc);
}
.boxLink {
  color: var(--dc);
  width: 30%;
  gap: 0;
  padding: 0;
  margin: 0;
}

.productBox {
  display: flex;
  width: 90%;
  height: 90vh;
  justify-content: space-between;
}

.productCover {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-around;
}
.mainImage {
  transition: all 0.5s ease;
  overflow: hidden;
  width: 550px;
  height: 550px;
}

.thumbnail {
  border-radius: 10px;
  cursor: zoom-in;
  transition: all 0.4s ease;
}

.sideImages {
  display: flex;
  position: sticky;
  top: 20vh;
  height: 43vh;
  flex-direction: column;
  gap: 15px;
}
.sideImage,
.selectedImage {
  border-radius: 5px;
  border: 1px solid var(--gc);
  cursor: pointer;
}
.selectedImage {
  border: 1px solid var(--yc);
}
/* ---------------------------- */
.overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999999999999999 !important;
  cursor: zoom-out;
  opacity: 0;
  animation: fadeIn 0.4s forwards;
  overscroll-behavior: contain;
  touch-action: none;
}

.zoomedImage {
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  object-fit: contain;
  z-index: 99999999999999999999 !important;
}

.productInfo {
  width: 70%;
  color: var(--dc);
  padding-left: 10vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.productInfo h1 {
  font-size: 30px;
}
.productInfo h3 {
  font-size: 20px;
  font-weight: bold;
}

.brand {
  border-bottom: 1px solid var(--gc);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: var(--gc);
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 10px;
}
.brandBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.brandLink {
  text-transform: uppercase;
  color: var(--dc);
  padding-left: 5px;
}

.attentionBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wishlistBox {
  display: flex;
  flex-direction: row;
}

.wishlistBox .wishlistCard {
  position: relative;
  top: 0;
  right: 0;
}
.wishlistBox .wishlistCard svg {
  top: 0;
  right: 0;
}
.wishlistBox h2 {
  text-transform: uppercase;
  color: var(--dc);
  padding-left: 5px;
  letter-spacing: -0.05rem;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.addCard {
  width: 180px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dc);
  text-overflow: ellipsis;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  border: 1px solid var(--dc);
}
.addCard:disabled {
  cursor: not-allowed;
}
.addCard .buySvg,
.addCard .btnText {
  transition: all 0.45s ease-in-out;
  position: absolute;
  height: 100%;
  width: 100%;
}
.addCard .btnText {
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--wc);
  border-radius: 15px;
}
.addCard .buySvg {
  border-radius: 15px;
  left: -100%;
  background-color: var(--dc);
  display: flex;
  justify-content: center;
  align-items: center;
}

.addCard:not(:disabled):hover {
  background-color: var(--dc);
}
.addCard:not(:disabled):hover .buySvg {
  color: var(--yc);
  left: 0;
}
.addCard:not(:disabled):hover .btnText {
  left: 100%;
}
.addedCard {
  color: var(--yc);
  background-color: var(--dc);
  cursor: auto;
  display: flex;
  justify-content: center;
}
.addedCard .btnText {
  position: static;
  background-color: var(--dc);
}
.vat {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bolder;
}
#hidden {
  visibility: hidden;
}

.description {
  width: 65%;
  border-top: 1px solid var(--dc);
  color: var(--dc);
}
.description h2 {
  color: var(--bc);
  margin: 5vh 0;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
}
.inquiry {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--dc);
  width: 100%;
  font-weight: 400;
  text-transform: uppercase;
}
.inquiryText {
  width: 50%;
}
.inquiry h2 {
  color: var(--yc);
  font-size: 20px;
}
.inquiry h3 {
  font-size: 16px;
}

.related {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}
.related h2 {
  color: var(--dc);
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
}
.productsSwiper {
  width: 75%;
  height: 100%;
  scroll-behavior: smooth;
}

.toast {
  height: 70px;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.toastInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.toastInfo .mainBtn,
.toastInfo .hoverBtn {
  font-size: 14px;
  height: 30px;
  border-radius: 10px;
}
.toastInfo .mainBtn {
  color: var(--wc);
  border-color: var(--wc);
}
.toastInfo .hoverBtn {
  background-color: var(--wc);
  color: var(--dc);
}
.toastImg {
  position: absolute;
  left: 0;
  border-radius: 5px 0 0 5px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ----------------------------------------- */
