.shoppingCartContainer .total {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 35vh;
}

.shoppingCartContainer .totalBox {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--dc);
  padding: 10px 25px;
  color: var(--dc);
}
.shoppingCartContainer .total h2 {
  font-weight: 800;
}
.shoppingCartContainer .total .homeBtn {
  font-size: large;
  font-weight: 800;
}

.shoppingCartContainer .total .mainBtn,
.total .hoverBtn {
  width: 200px;
}

.shoppingCartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.shoppingCartArea {
  width: 80%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 10px;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid var(--dc);
  border-radius: 10px;
  width: 80%;
}
.quantity button {
  width: 100%;
  height: 20px;
  font-size: 24px;
  text-align: center;
  color: var(--dc);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity button:hover {
  font-weight: bold;
}
.quantity span {
  font-size: 20;
  font-weight: 800;
  color: var(--yc);
}
.shoppingText {
  color: var(--dc);
  padding: 3vh 0;
}
@media (max-width: 425) {
  .shoppingCartContainer .totalBox {
    flex-direction: column;
    gap: 15px;
  }
  .shoppingCartContainer {
    padding-top: 50px;
  }
  .quantity span {
    font-size: 14px;
  }
}
